
*{
    margin: 0;
    padding: 0;
    box-sizing: 0 auto ;
    font-family: 'TT Hoves';
    color: #222;
}
/*  html_css_js start */
section{
    padding: 0 calc(10.6vw + 16px);
}

.logo{
    width: calc(8.8vw + 182px);
    margin-top: 37px;
    margin-bottom: 85px;
}

.course_info{
    display: flex;
    gap: 30px 161px;
    margin-bottom: 76px;
}

.course_data{
    display: flex;
    flex-direction: column;
}

.title{
    font-family: "TT Hoves";
    /* font-size: 21px; */
    font-size: calc(0.55vw + 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 29.4px */
}

.value{
    font-family: "TT Hoves";
    /* font-size: 21px; */
    font-size: calc(0.55vw + 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.4px */
}

.html_css_js h1{
    font-family: "Chava";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 88px */
    margin-bottom: 40px;
}


.html_css_js p{
    font-family: "TT Hoves";
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 37.8px */
    margin-bottom: 20px;
}



.btn_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px ;
}


.primary{
    width: 328px;
    border-radius: 12px;
    background: #6E3ABA;
    padding: 20px 0;
    border: 2px solid #6E3ABA;
    color:white;
}

.secondary{
    width: 328px;
    border-radius: 12px;
    padding: 20px 0;
    background-color: white;
    border: 2px solid #6E3ABA;
    color: #6E3ABA;
    cursor: pointer;
}


.html_css_js{
    background-image: url(../img/html-css-js.svg);
    background-repeat: no-repeat;
    background-position: top 121px right 58px;
    background-size: calc(23vw + 89px);
    margin-bottom: 200px;
    /* width: calc(23vw + 89px); */
}

.html_css_js h1{
    /* width: calc(49vw + 147px); */
    font-size: calc(4.2vw + 26px);
}

.html_css_js p{
   font-size: calc(0.9vw + 14px);
}
/* html_css_js end  */


/* section two start */
.two{
    display: flex;
    flex-direction: column;
}

.two h2{
    Width:769px;
    Height:136px;
    Left:120px;
    font-size: 58px;
}

.face{
    display: flex;
    gap: 30px;
}


.memoji{
    width: calc(13vw + 277px);
    width: 460px;
    height: 506px;
}
.memoji{
    width: calc(14vw + 277px);
    height: calc(14vw + 300px);
}
.two img{
    width: 187px;
    width: calc(6.2vw + 106px);
    height: 187px;
    height: calc(6.2vw + 106px) ;
}

.two h3{
    font: TT Hoves;
    font-weight : 600;
    font-size : 27px;
    line-height: 140%;
    align-self: left;
}
.two h2{
    width: calc(48vw + 114px);
}

.two p{
    Font: TT Hoves;
    Font-weight: 400;
    Font-size: 27px;
    letter-spacing: 0%;
    line-height: 140%;
    font-weight: 400;
    align-items:  left;
}
.two p{
    font-size: calc(0.9vw + 14px);
    width: calc(12vw + 274px);
}

/* section two end */









/* timer start */
.timer{
    background: #6E3ABA;
    padding-top: 80px ;
    padding-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer h2{
    color: var(--typo-white, #FFF);
    font-family: "TT Hoves";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 57px;
}
.timer h2{
    font-size: calc(2vw + 26px);
}
 .timer_container{
    display: flex;
    gap: 85px;
    margin-bottom: 57px;
    /* width: calc(66vw + 72px); */
 }
 .timer_container{
    gap: calc(3vw + 42px) ;
 }
 .timer_value{
    color: #2F1D4E;
    font-family: "Chava";
    font-size: 174px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; 
 }
 .timer .timer_value{
    font-size: calc(12vw + 12px);
    height: calc(12vw + 32px);
 }
 .timer_text{
    color: #2F1D4E;
    text-align: center;
    font-family: "TT Hoves";
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 20px;
 } 


 .timer_text{
    font-size: calc(2vw + 3px);
 }

 .timer_btn .secondary{
    width: 328px;
    border-radius: 12px;
    padding: 20px 0;
    background-color: white;
    border: 2px solid #6E3ABA;
    color: #6E3ABA;
    cursor: pointer;
 }
/* timer end */






 @media (max-width: 768px) {
    .course_info{
        display: flex;
        flex-direction: column;
    }
    .face{
        display: flex;
        flex-direction: column-reverse;
    }
    .two h2{
    
    line-height:40.05px;
    Font: TT Hoves;
    Font-weight: 500;
    Font-size: 34px;
    letter-spacing: 0%;
    line-height: 140%;
    font-weight: 400;
    align-items:  left;
    }
 }
 .legend h3{
    font-weight: 500;
    font-size: calc(2.66vw + 23px);
    margin-bottom: calc(5.5vw + 19px);
    text-transform: uppercase;
}
.legend_wrapper {
    display: flex;
    gap: 20px 51px;
}
.legend_img{
    flex-basis: calc (7.7vw + 299px);
    flex-grow:0;

}
.legend_text_wrapper{
    flex: basis 566px; 
    flex-grow: 100;
}
.legend_text_wrapper h3{
    margin-bottom:  calc(1.1vw + 5.84px);
    font-size: calc(1.1vw + 33.84px)

}
.legend_text_wrapper .subtitle{
    font-size: calc(1vw + 14.26px);
    margin-bottom: calc(5.25vw + 22.8px);
}
.legend_icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 90px;
    grid-template-areas: "A B"
                         "C D";
    .legend-card
}










